img {
  border-radius: 25px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 10px 10px #4d484a;
  display: block;
  width: 600px;
}
  
p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top:300px;
  transform: rotate(45deg);
  width: 100%;
}
  
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 650px;
  left: 50%;
  width: 100px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  background-color: #5f9ea0;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:active {
  background-color: #c25c8f;
}

.container {
  display: flex;
  flex-direction: row;
}

.component {
  position: relative;
  text-align: center;
  margin: 2%;
}
  